.register-container {
    .header {
        // border: 1px solid red;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 15px;
        padding: 0 100px;
        padding-top: 5px;
        button {
            border: none;
            padding: 5px 20px;
            border-radius: 7px;
            background-color: black;
            color: rgb(241, 227, 201);
            &:hover {
                color: white;
            }
        }
    }
    .title {
        // border: 1px solid red;
        font-size: 25px;
        padding: 20px 0;
        text-align: center;
    }
    .welcome {
        // border: 1px solid red;
        font-size: 20px;
        padding: 10px 0;
        text-align: center;
    }
    .content-form {
        input {
            margin: 3px 0 15px 0;
        }
        button {
            width: 100%;
            border: none;
            height: 40px;
            margin: 20px 0;
            border-radius: 5px;
            color: white;
            background-color: black;
        }
        .pass-group {
            position: relative;
            .icons-eye {
                position: absolute;
                top: 32px;
                right: 20px;
                cursor: pointer;
            }
        }
    }
    .back {
        cursor: pointer;
    }
}
